# Docker Compose genel
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=ordersdb

KAFKA_BROKER=kafka:9092
KAFKA_ORDER_CREATED_TOPIC=order.created

REDIS_CONNECTION=redis:6379
ELASTICSEARCH_URL=http://elasticsearch:9200

# Order Service
ORDER_SERVICE_CONNECTION_STRING=Host=postgres;Port=5432;Database=ordersdb;Username=admin;Password=admin123

# Analytics Service
ANALYTICS_REDIS_CONNECTION=redis:6379
ANALYTICS_ELASTICSEARCH_URL=http://elasticsearch:9200

# Gateway
GATEWAY_DOWNSTREAM_ORDERS=http://order-service:8080
GATEWAY_DOWNSTREAM_PRODUCTS=http://product-service:8080
GATEWAY_DOWNSTREAM_ANALYTICS=http://analytics-service:8080

# Frontend
VITE_API_BASE=/api
